<h3 style="font-weight: bolder; font-size: 32px;">
  <a href="/articles/<%= article.id %>"> <%= article.title %> </a>
</h3>
<p class="text-secondary">Creado por <%= article.user.firstname %> <%= article.user.lastname %> el <%= article.createdAt %></p>

