<% console.log(article.author) %>
<h3>
  <a href="article/<%= article.id %>"> <%= article.title %> </a>
</h3>
<p>Creado por <%= article.author.firstname %> <%= article.author.lastname %> el <%= article.createdAt %></p>

